<h1>home Page</h1>
<p>Find the list of all pages and projects</p>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <%= link_to 'High Score', high_scores_path, class: 'btn btn-primary' %>
        </div>
        <div class="col-md-2">
            <%= link_to 'Messages System', messages_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
